.navbar-inverse input[type="text"] {
    background: #333;
    border: none;
    color: #999;
}

.navbar-inverse button[type="submit"] {
    background: none;
    border: none;
    color: #999;
}

.navbar-inverse form{
    position: relative;
}

.navbar-inverse  .glyphicon-search {
    position: absolute;
    top: 30%;
    right: 5px;
}

#row a {
     float: right; 
     font-size: 10px; 
     margin: 5px auto;
}